body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-size: 16px;
}

.nav-style{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: 15vh;
    margin-left: 5.5vw;
    margin-top: 0.4vh;
}

.logo-img{
    width: 100%;
}

.map-box{
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.top-bar {  
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    z-index: 15; 
    gap: 2vh; 
    margin-right: 3vh;
}

.search-box { 
    display: flex; 
    align-items: center; 
    background: #fff; 
    border-radius: 5vh; 
    padding: 1vh 2vh;  
}

.search-box input { 
    border: none; 
    outline: none; 
    display: none; 
    transition: width 0.3s ease;
}

.search-btn, .notification-btn { 
    background: none; 
    border: none; 
    cursor: pointer;
}

.search-icn, .notification-icn {
    width: 3vh;
}

.bottom-sheet { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%;
    height: 100vh;
    background: #fff; 
    border-top-left-radius: 32px; 
    border-top-right-radius: 32px; 
    box-shadow: 0 -2px 8px rgba(0,0,0,0.25); 
    z-index: 20; 
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
    transform: translateY(60%);
    display: flex; 
    flex-direction: column; 
    max-height: 80vh; 
}

.bottom-sheet.open { 
    transform: translateY(0); 
}

.bottom-sheet .content {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
}

.drag-bar { 
    width: 35vw; 
    height: 0.7vh; 
    background: #000000; 
    border-radius: 30px; 
    margin: 30px auto 22px; 
    cursor: grab; 
}

.filters { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 6vw;
    font-size: clamp(16px, 1.9vh, 80px);
}

.filter-btn { 
    width: 41vw;
    height: 5.5vh;
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 3px solid #FFB86A;
    border-radius: 3vw; 
    cursor: pointer; 
    background: transparent; 
    transition: 0.3s;
    color: #F54927;
    font-weight: 600;
}

.filter-btn.active {
    background: #FFB86A;
    color: #ffffff;
    border-color: #FFB86A;
  }

.filter-btn span { 
    margin-left: 6px; 
    font-size: 16px; 
}

.btn-txt{
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    padding-top: 3px;
}

.store-list { 
    overflow-y: auto;
    max-height: 80vh; 
    padding: 0 10px 10px; 
}

.store-card { 
    display: flex; 
    background: #fff; 
    margin-bottom: 10px; 
    padding: 10px; 
    padding-top: 30px;
    border-radius: 10px; 
}

.store-img-box {
    width: clamp(20px, 20vh, 300px); 
    height: clamp(20px, 20vh, 300px); 
    border-radius: 30px; 
    background: #ddd; 
    margin-right: 35px; 
    margin-left: clamp(5px, 4.8vw, 70px);
    flex-shrink: 0; 
    background-size:cover; 
    background-position:center;
}

.store-img{
    width: 100%;
    margin: 0;
}

@media(max-width: 828px){
    .store-img-box{
        width: clamp(20px, 15vh, 300px); 
        height: clamp(20px, 15vh, 300px);
        margin-left: clamp(5px, 4.4vw, 70px);
    }
}

.store-info { 
    flex: 1; 
    font-size: clamp(16px, 1.9vh, 80px);
    color: #7C7C7C;
    margin-top: 8px;
}

.store-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5px;
    font-weight: 600; 
    font-size: clamp(16px, 2.1vh, 80px); 
    color: #000000;
    height: 3vh;
}

@media(min-width: 1500px){
    .store-header{
        height: 4vh;
    }
}

.store-meta-time {
    display: flex;
    position: relative;
    align-items: center; /* 같은 높이 맞추기 */
    gap: 30px;            /* 텍스트와 값 사이 간격 */
    margin: 0;           /* p 기본 마진 제거 */
    font-size: clamp(16px, 1.9vh, 80px);     /* 동일한 폰트 크기 */
    line-height: 1.8;    /* 줄 간격 통일 */
}

.hours-text {
    position: absolute;
    left: clamp(16px, 15vw, 600px); /* 반응형 x축 고정 */
    top: 0; /* p 태그 기준 y축 위치 */
    font-weight: 400;
  }

.store-meta-seat {
    display: flex;
    position: relative;
    align-items: center; /* 같은 높이 맞추기 */
    gap: 30px;            /* 텍스트와 값 사이 간격 */
    margin: 0;           /* p 기본 마진 제거 */
    font-size: clamp(16px, 1.9vh, 80px);     /* 동일한 폰트 크기 */
    line-height: 1.8;    /* 줄 간격 통일 */
}

.store-addr{
    display: flex;
    position: relative;
    align-items: center; /* 같은 높이 맞추기 */
    gap: 30px;            /* 텍스트와 값 사이 간격 */
    margin: 0;           /* p 기본 마진 제거 */
    font-size: clamp(16px, 1.9vh, 80px);     /* 동일한 폰트 크기 */
    line-height: 1.8;
}

.level-text {
    position: absolute;
    left: clamp(16px, 15vw, 600px); /* 반응형 x축 고정 */
    top: 0; /* 부모 기준 y축 위치 */
    font-weight: 400;
  }

  @media(max-width: 828px){
    .hours-text{
        left: clamp(16px, 13vw, 600px);
    }
    .level-text{
        left: clamp(16px, 13vw, 600px);
    }
}


.store-header button { 
    border: none; 
    background: none; 
    cursor: pointer; 
    font-size: 20px; 
    margin-right: 60px;
}

.store-header button.on { 

}

.store-header button.off { 

}

.store-info p { 
    margin: 2px 0; 
}

.crowd { 
    font-weight: bold; 
}


#map{
    width:100%; 
    height: 70vh;  
    position: fixed;
}


#storeList {
    list-style: none;
    padding: 0;
  }
  #storeList li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  #storeList li:hover {
    background-color: #f0f0f0;
  }

.border-line{
    width: 88.8vw;
    height: 0.5px;
    margin-top: 20px;
    background-color: #7C7C7C;
    margin-left: clamp(5px, 5.5vw, 70px);
}

.notification-panel {
    position: fixed;
    top: 210px;
    right: 20px;
    width: 45vw;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 30;
    margin-right: 4.8vw;
}

.notification-item {
    display: flex;
    gap: 25px;
    padding: 30px 25px;
    border-bottom: 1px solid #eee;
}

.store-icon {
    width: clamp(40px, 5.5vh, 120px);
    height: clamp(40px, 5.5vh, 120px);
    border-radius: 50%;
    background: #ccc; /* 매장 아이콘 자리 */
}

.store-text {
    font-size: clamp(16px, 1.9vh, 80px);
}